{{ define "head" }}
<meta name="description" content="{{ .Title }} of {{ .Site.Title }}">
<link rel="stylesheet" href="{{ .Site.Params.staticPath }}/css/index.css" media="all">
<link rel="stylesheet" href="{{ .Site.Params.staticPath }}/css/projects.css" media="all">
{{ end }}

{{ define "title" }}
{{.Title }} | {{ .Site.Title }}
{{ end }}

{{ define "main" }}
<section id="projects">
    <div class="container pt-5" id="list-page">
        <div class="row justify-content-center px-3 px-md-5">
            <h1 class="text-left pb-2 content">{{.Title}}</h1>
            <span class="content subtitle text-left pb-2">Come meet me at these upcoming events, or catch a selection of my sessions from previous events.</span>
        </div>
    </div>
</section>
<div class="container pt-5" id="list-page">
    <section id="projects">
        <div class="container">
            <div class="row justify-content-left px-3 px-md-5">
                <h2 class="text-left pb-2">Upcoming</h2>
            </div>
            {{ range .Site.Params.conferences.upcoming.series }}
                <div class="row justify-content-center px-3 px-md-5">
                    <h3 class="text-left pb-2">{{ .title }}</h2>
                </div>
                <div class="row justify-content-left px-3 px-md-5">
                    {{ range .videos}}
                        <div class="col col-lg-4 col-md-4 my-3">
                            <div class="card h-100" title="{{ .title }}">
                                <div class="card-head">
                                    <a href="{{ .registrationLink }}">
                                        <img class="card-img-top" src="{{ .image }}" alt="{{ .title }}">
                                    </a>
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">{{ .title }}</h5>
                                    <h6 class="card-subtitle mb-2 text-muted">{{ .time }}</h6>
                                    <p class="card-text">{{ .description }}</p>
                                </div>
                                <div class="card-footer py-3">
                                    <span class="float-end">
                                        <a class="btn btn-sm" href="{{ .registrationLink }}" target="_blank">
                                            Register here
                                        </a>
                                    </span>
                                </div>
                            </div>
                        </div>
                    {{ end }}
                </div>
                <div class="row justify-content-center px-3 px-md-5">
                    <p class="text-center pb-2">&nbsp;</p>
                </div>
            {{ end }}
        </div>
    </section>

    <section id="projects" class="py-5">
        <div class="container">
            <div class="row justify-content-center px-3 px-md-5">
                <h2 class="text-left pb-2">Previous conference sessions</h2>
            </div>
            {{ range .Site.Params.conferences.previous.series }}
                <div class="row justify-content-center px-3 px-md-5">
                    <h3 class="text-left pb-2">{{ .title }}</h2>
                </div>
                <div class="row justify-content-left px-3 px-md-5">
                    {{ range .videos}}
                        <div class="col col-lg-4 col-md-4 my-3">
                            <div class="card h-100" title="{{ .title }}">
                                <div class="ratio ratio-16x9">
                                <iframe src="https://www.youtube.com/embed/{{.id}}" frameborder="0"
                                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen></iframe>
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">{{ .title }}</h5>
                                    <p class="card-text">{{ .description }}</p>
                                </div>
                            </div>
                        </div>
                    {{ end }}
                </div>
                <div class="row justify-content-center px-3 px-md-5">
                    <p class="text-center pb-2">&nbsp;</p>
                </div>
            {{ end }}
        </div>
    </section>
</div>
{{ end }}