{{ define "head" }}
<meta name="description" content="{{ .Title }} of {{ .Site.Title }}">
<link rel="stylesheet" href="{{ .Site.Params.staticPath }}/css/index.css" media="all">
<link rel="stylesheet" href="{{ .Site.Params.staticPath }}/css/projects.css" media="all">
{{ end }}

{{ define "title" }}
{{.Title }} | {{ .Site.Title }}
{{ end }}

{{ define "main" }}
<section id="projects">
    <div class="container pt-5" id="list-page">
        <div class="row justify-content-center px-3 px-md-5">
            <h1 class="text-left pb-2 content">{{.Title}}</h1>
            <span class="content subtitle text-left pb-2">A selection of podcasts I've been on.</span>
        </div>
    </div>
</section>
<div class="container" id="list-page">
    <section id="projects" class="py-5">
        <div class="container">
            <div class="row justify-content-left px-3 px-md-5">
                {{ range .Site.Params.podcasts.videos}}
                <div class="col col-lg-4 col-md-4 my-3">
                    <div class="card h-100" title="{{ .title }}">
                        <div class="ratio ratio-16x9">
                            <iframe src="https://www.youtube.com/embed/{{.id}}" frameborder="0"
                                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen></iframe>
                        </div>
                        <div class="card-body">
                            <h4 class="card-title">{{ .title }}</h5>
                            <p class="card-text">{{ .description }}</p>
                        </div>
                    </div>
                </div>
                {{ end }}
            </div>
        </div>
    </section>
</div>
{{ end }}