<div class="text-center pt-2" style="vertical-align:top; margin:0px 12px">
    <a class="navbar-brand" href="https://github.com/jimbobbennett">
        <img src="https://raw.githubusercontent.com/jimbobbennett/ColoredBadges/main/svg/dev/services/github.svg"
            alt="GitHub" style="vertical-align:top; margin:6px 0px">
    </a>
    <a class="navbar-brand" href="https://twitter.com/jimbobbennett">
        <img src="https://raw.githubusercontent.com/jimbobbennett/ColoredBadges/main/svg/social/twitter.svg"
            alt="Twitter" style="vertical-align:top; margin:6px 0px">
    </a>
    <a class="navbar-brand" href="https://hachyderm.io/@JimBobBennett">
        <img src="https://raw.githubusercontent.com/jimbobbennett/ColoredBadges/main/svg/social/mastodon.svg"
            alt="Mastodon" style="vertical-align:top; margin:6px 0px">
    </a>
    <a class="navbar-brand" href="https://instagram.com/jimbobbennett">
        <img src="https://raw.githubusercontent.com/jimbobbennett/ColoredBadges/main/svg/social/instagram.svg"
            alt="Instagram" style="vertical-align:top; margin:6px 0px">
    </a>
    <a class="navbar-brand" href="https://linkedin.com/in/jimbobbennett">
        <img src="https://raw.githubusercontent.com/jimbobbennett/ColoredBadges/main/svg/social/linkedin.svg"
            alt="LinkedIn" style="vertical-align:top; margin:6px 0px">
    </a>
    <a class="navbar-brand" href="http://youtube.com/@jimbobbennett">
        <img src="https://raw.githubusercontent.com/jimbobbennett/ColoredBadges/main/svg/streaming/youtube.svg"
            alt="YouTube" style="vertical-align:top; margin:6px 0px">
    </a>
    <a class="navbar-brand" href="https://twitch.com/jimbobbennett">
        <img src="https://raw.githubusercontent.com/jimbobbennett/ColoredBadges/main/svg/streaming/twitch.svg"
            alt="Twitch" style="vertical-align:top; margin:6px 0px">
    </a>
    <a class="navbar-brand" href="https://www.tiktok.com/@jimbobbennett">
        <img src="https://raw.githubusercontent.com/jimbobbennett/ColoredBadges/main/svg/social/tiktok.svg" alt="TikTok"
            style="vertical-align:top; margin:6px 0px">
    </a>
</div>